
$color-primary-1: #a0d2eb;
$color-primary-2: #e5eaf5;
$color-primary-3: #d0bdf4; 
$color-primary-4: #8458B3;
$color-primary-5: #494d5f;

// $background-clearSky: yellow;
// $background-cloudy: rgb(138, 138, 136);
// $background-snow: rgb(0, 158, 250);
// $background-rain: rgb(106, 174, 190);
// $background-thunderstorm: rgb(20, 17, 51);

$transition: all 0.3s linear;

$fontface-primary: "Roboto", sans-serif;
$fontface-secondary: "Open Sans", sans-serif;